<table class="profile" summary="Profile information">
	<tr>
		<td class='main'>
			<h1>
				<%= @user.name %>
			</h1>     
		 
		</td>
		<td class ="sidebar round">
			<strong>Zodiac:</strong>  
			<p>
					<span class="animal"><%= zodiac_image_for(@user)%></span>
		  </p>
		 		<table>
					<tr>
						<td>
							<h2>+</h2>  
		
								<ul>
									<li><%= @user.firstattribute %></li>
									<li></li>
									<li></li>
								</ul>   
						 </td>
						<td>
							<h2>-</h2>
								<ul>
									<li></li>
								<ul>
				    </td>
			 		</tr>
		 		</table>
		</td>
	</tr>
</table>                
